@{
    Layout = null;
    int selectedProductId = ViewBag.SelectedProductId;
    string existingJson = ViewBag.ExistingJson;
}

<div class="modal-header bg-white border-bottom">
    <h5 class="modal-title font-weight-bold text-dark">
        Product Configuration
    </h5>

    <button type="button" class="close text-dark" data-dismiss="modal">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">

    <div id="configErrorArea"></div>

    <div class="card card-outline card-secondary mb-2">
        <div class="card-body p-2">

            <div class="row align-items-end">

                <div class="col-md-10">
                    <label class="font-weight-bold mb-1">Product</label>

                    <select id="ProductId"
                            class="form-control form-control-sm"
                            asp-items="ViewBag.ProductList">
                        <option value="">Select Product</option>
                    </select>
                </div>

                <div class="col-md-2 text-right">
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            id="btnAddMainNode">
                        + Add Node
                    </button>
                </div>

            </div>

        </div>
    </div>

    <div class="card card-outline card-secondary mb-0">

        <div class="card-header py-2">
            <h3 class="card-title font-weight-bold">
                Structure Builder
            </h3>
        </div>

        <div class="card-body p-2" id="nodeContainer">

            <div class="text-muted text-center py-3" id="emptyMessage">
                Select product and click Add Node
            </div>

        </div>

    </div>

</div>

<div class="modal-footer">
    <button type="button"
            class="btn btn-secondary btn-sm"
            data-dismiss="modal">
        Close
    </button>

    <button type="button"
            class="btn btn-primary btn-sm"
            id="btnSaveStructure">
        Save Structure
    </button>
</div>

<script>

    $(document).ready(function () {

        var selectedProductId = @selectedProductId;
        var existingNodes = @Html.Raw(existingJson);

        if (selectedProductId > 0) {
            $("#ProductId").val(selectedProductId);
            $("#ProductId").prop("disabled", true);
        }

        if (existingNodes != null && existingNodes.length > 0) {

            $("#emptyMessage").remove();

            for (var i = 0; i < existingNodes.length; i++) {
                renderExistingNode($("#nodeContainer"), existingNodes[i]);
            }
        }

        $("#btnAddMainNode").click(function () {
            addNode($("#nodeContainer"), "Block");
        });

        $("#btnSaveStructure").click(function () {
            saveStructure();
        });

        $("#ProductId").change(function () {

            var productId = $(this).val();

            if (productId !== "") {
                $.get("/ProductConfiguration/Add?productId=" + productId, function (data) {
                    $("#configurationModalContent").html(data);
                });
            }
        });

    });

    function getInputTypeOptions(selectedValue) {

        var options = [
            "None",
            "Checkbox",
            "Text",
            "Number",
            "Percentage",
            "Yes/No",
            "Up/Down",
            "Date"
        ];

        var html = "";

        for (var i = 0; i < options.length; i++) {

            if (options[i] === selectedValue) {
                html += '<option selected>' + options[i] + '</option>';
            }
            else {
                html += '<option>' + options[i] + '</option>';
            }
        }

        return html;
    }

    function addNode(container, nodeType) {

        $("#emptyMessage").remove();

        var inputType = "None";

        if (nodeType === "Field") {
            inputType = "Checkbox";
        }

        var nodeHtml =
        '<div class="card mb-1 node-row" data-node-type="' + nodeType + '">' +
            '<div class="card-body p-2">' +

                '<div class="row align-items-center">' +

                    '<div class="col-md-7">' +
                        '<input type="text" class="form-control form-control-sm node-name" placeholder="' + nodeType + ' Name" />' +
                    '</div>' +

                    '<div class="col-md-3">' +
                        '<select class="form-control form-control-sm input-type">' +
                            getInputTypeOptions(inputType) +
                        '</select>' +
                    '</div>' +

                    '<div class="col-md-2 text-right">';

                        if (nodeType === "Block") {

                            nodeHtml +=
                            '<button type="button" class="btn btn-outline-primary btn-sm btn-add-block mr-1" title="Add Block">+</button>' +
                            '<button type="button" class="btn btn-outline-success btn-sm btn-add-field mr-1" title="Add Field">+</button>';
                        }
                        else {

                            nodeHtml +=
                            '<button type="button" class="btn btn-outline-primary btn-sm btn-add-field mr-1" title="Add Child">+</button>';
                        }

        nodeHtml +=
                        '<button type="button" class="btn btn-outline-danger btn-sm btn-remove-node" title="Delete">×</button>' +

                    '</div>' +

                '</div>' +

                '<div class="child-container ml-4 mt-2"></div>' +

            '</div>' +
        '</div>';

        container.append(nodeHtml);

        var newNode = container.children(".node-row").last();

        bindNodeButtons(newNode);
    }

    function bindNodeButtons(node) {

        node.find(".btn-add-block").click(function () {

            var child = $(this)
                .closest(".node-row")
                .find("> .card-body > .child-container");

            addNode(child, "Block");
        });

        node.find(".btn-add-field").click(function () {

            var child = $(this)
                .closest(".node-row")
                .find("> .card-body > .child-container");

            addNode(child, "Field");
        });

        node.find(".btn-remove-node").click(function () {

            $(this).closest(".node-row").remove();

            if ($("#nodeContainer").children(".node-row").length === 0) {

                $("#nodeContainer").html(
                    '<div class="text-muted text-center py-3" id="emptyMessage">' +
                        'Select product and click Add Node' +
                    '</div>');
            }
        });
    }

    function renderExistingNode(container, node) {

        addNode(container, node.nodeType);

        var newNode = container.children(".node-row").last();

        newNode.find(".node-name").val(node.nodeName);
        newNode.find(".input-type").val(node.inputType);

        if (node.children != null && node.children.length > 0) {

            var child = newNode.find("> .card-body > .child-container");

            for (var i = 0; i < node.children.length; i++) {
                renderExistingNode(child, node.children[i]);
            }
        }
    }

    function collectNodes(container) {

        var nodes = [];

        container.children(".node-row").each(function () {

            var child = $(this).find("> .card-body > .child-container");

            nodes.push({
                nodeName: $(this).find(".node-name").val(),
                nodeType: $(this).attr("data-node-type"),
                inputType: $(this).find(".input-type").val(),
                children: collectNodes(child)
            });
        });

        return nodes;
    }

    function saveStructure() {

        var productId = $("#ProductId").val();

        if (productId === "") {
            showConfigError("Please select product.");
            return;
        }

        var nodes = collectNodes($("#nodeContainer"));

        if (nodes.length === 0) {
            showConfigError("Please add node.");
            return;
        }

        $.ajax({
            url: "/ProductConfiguration/SaveStructure",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                productId: parseInt(productId),
                nodes: nodes
            }),
            success: function (response) {

                if (response.success) {
                    window.location.href = "/ProductConfiguration?selectedProductId=" + productId;
                }
                else {
                    showConfigError(response.message);
                }
            },
            error: function () {
                showConfigError("Error while saving.");
            }
        });
    }

    function showConfigError(message) {

        $("#configErrorArea").html(
            '<div class="alert alert-danger py-1 mb-2">' +
                message +
            '</div>');
    }

</script>