@model EmployeeAccessSystem.Models.ProductConfiguration

<li>
    <span class="font-weight-bold">@Model.NodeName</span>

    @if (Model.NodeType == "Block")
    {
        <span class="badge badge-secondary ml-1">Block</span>
    }
    else
    {
        <span class="badge badge-info ml-1">Field</span>

        if (!string.IsNullOrWhiteSpace(Model.InputType))
        {
            <span class="badge badge-light ml-1">@Model.InputType</span>
        }
    }

    @if (Model.Children != null && Model.Children.Count > 0)
    {
        <ul class="pl-3">
            @foreach (var child in Model.Children)
            {
                @await Html.PartialAsync("_TreeNode", child)
            }
        </ul>
    }
</li>