@model EmployeeAccessSystem.Models.SMCProduct
@{
    Layout = null;
}
<form asp-action="Delete" method="post" id="deleteSMCProductForm">
    @Html.AntiForgeryToken()
    <input type="hidden" name="smcProductId" value="@Model.SMCProductId" />
    <div class="text-center mb-3">
        <span class="bg-danger rounded-circle d-inline-flex align-items-center justify-content-center"
              style="width:70px; height:70px; opacity:0.15;">
        </span>

        <div class="position-relative" style="margin-top:-50px;">
            <i class="fas fa-trash text-danger" style="font-size:28px;"></i>
        </div>
    </div>
    <h5 class="text-center font-weight-bold mb-2">
        Are you sure?
    </h5>
    <p class="text-center text-muted mb-1">
        You want to delete this SMC Product
        <span class="font-weight-bold">"@Model.SMCProductName"</span>
    </p>
    <div class="modal-footer justify-content-center border-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
        </button>
        <button type="submit" class="btn btn-danger">
            Confirm
        </button>
    </div>
</form>