@model EmployeeAccessSystem.Models.FortigateCategory

@{
    Layout = null;
}
<form asp-action="Create" asp-controller="FortigateCategory" method="post" id="createFortigateCategoryForm">
    @Html.AntiForgeryToken()
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }
    <div asp-validation-summary="ModelOnly" class="text-danger small mb-2"></div>
    <div class="form-group">
        <label asp-for="ProductId" class="font-weight-bold">Product</label>
        <select asp-for="ProductId" asp-items="ViewBag.ProductList" class="form-control">
            <option value="">Select Product</option>
        </select>
        <span asp-validation-for="ProductId" class="text-danger small"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryName" class="font-weight-bold">Fortigate Category Name</label>
        <input asp-for="CategoryName" class="form-control" placeholder="Enter Fortigate Category Name" />
        <span asp-validation-for="CategoryName" class="text-danger small"></span>
    </div>

    <input type="hidden" asp-for="DisplayOrder" value="0" />

    <div class="form-group mb-4">
        <div class="custom-control custom-switch">
            <input asp-for="IsActive" class="custom-control-input" id="CreateIsActive" />
            <label class="custom-control-label font-weight-bold" for="CreateIsActive" id="createStatusLabel">
                Active
            </label>
        </div>
        <span asp-validation-for="IsActive" class="text-danger small"></span>
    </div>

    <div class="modal-footer px-0 pb-0">
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function () {

        function updateCreateStatus() {
            if ($('#CreateIsActive').is(':checked')) {
                $('#createStatusLabel').text('Active');
            } else {
                $('#createStatusLabel').text('Inactive');
            }
        }
        updateCreateStatus();
        $('#CreateIsActive').change(function () {
            updateCreateStatus();
        });
    });
</script>