@model EmployeeAccessSystem.Models.Category

<h2>Add Category</h2>

<form asp-action="Create" method="post">
    <label>Category Name</label><br />
    <input asp-for="CategoryName" /><br /><br />

    <button type="submit">Save</button>
</form>

<a asp-action="Index">Back</a>
