@model EmployeeAccessSystem.Models.Category

<h2>Edit Category</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CategoryId" />

    <label>Category Name</label><br />
    <input asp-for="CategoryName" /><br /><br />

    <button type="submit">Update</button>
</form>

<a asp-action="Index">Back</a>
