@model EmployeeAccessSystem.Models.Employee

@{
    ViewData["Title"] = "Add Employee";
}

<div class="container mt-5">
    <h2>Add New Employee</h2>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }


    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="FullName" class="form-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Department</label>

            <select asp-for="DepartmentId" asp-items="ViewBag.Departments" class="form-select">
                <option value="">-- Select Department --</option>
            </select>

            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
       

      


        <button type="submit" class="btn btn-primary w-100">Add Employee</button>
    </form>

    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
