@model EmployeeAccessSystem.Models.Employee

@{
    ViewData["Title"] = "Edit Employee";
}

<div class="container mt-5">
    <h2>Edit Employee</h2>

    <!-- Form -->
    <form asp-action="Edit" method="post">

        <!-- Hidden Id -->
        <input type="hidden" asp-for="EmployeeId" />

        <div class="mb-3">
            <label asp-for="FullName" class="form-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Department" class="form-label"></label>
            <input asp-for="Department" class="form-control" />
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning w-100">Update Employee</button>
    </form>

    <p class="mt-3">
        <a asp-action="Index">Back to List</a>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
