@model IEnumerable<EmployeeAccessSystem.Models.PingProductField>

@if (Model != null && Model.Any())
{
    foreach (var field in Model)
    {
        <input type="hidden" name="pingProductFieldId" value="@field.PingProductFieldId" />

        <div class="form-group">
            <label class="font-weight-bold">@field.FieldName</label>
            <input type="text" name="fieldValue" class="form-control" placeholder="Enter @field.FieldName" autocomplete="off" />
        </div>
    }
}


