@model EmployeeAccessSystem.Models.PingConfig
@{
    Layout = null;
}

<form asp-action="Create" method="post" id="createPingConfigForm">
    @Html.AntiForgeryToken()

    <input asp-for="IsChecked" type="hidden" id="IsCheckedHidden" value="true" />
    <input asp-for="EntryMode" type="hidden" value="Checkbox" />
    <input asp-for="ConfigValue" type="hidden" value="" />

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
    }

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ProductId" class="font-weight-bold">Product</label>
                <select asp-for="ProductId"
                        asp-items="ViewBag.ProductList"
                        class="form-control"
                        id="ProductId">
                    <option value="0">Select Product</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger small"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">IP Address</label>
                <select class="form-control" id="IPAddress" name="IPAddress">
                    <option value="">Select IP Address</option>
                </select>
                <span asp-validation-for="IPAddress" class="text-danger small"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PingProductId" class="font-weight-bold">Server Host Name</label>
                <select asp-for="PingProductId" class="form-control" id="PingProductId">
                    <option value="0">Select Server Host Name</option>
                </select>
                <span asp-validation-for="PingProductId" class="text-danger small"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="font-weight-bold">Status</label>
                <div class="border rounded p-1">
                    <div class="d-flex align-items-center">
                        <div class="custom-control custom-radio mr-4">
                            <input type="radio"
                                   id="statusTick"
                                   name="StatusChoice"
                                   value="true"
                                   class="custom-control-input"
                                   checked />
                            <label class="custom-control-label" for="statusTick">
                                <i class="fas fa-check text-success mr-1"></i>Tick
                            </label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio"
                                   id="statusCross"
                                   name="StatusChoice"
                                   value="false"
                                   class="custom-control-input" />
                            <label class="custom-control-label" for="statusCross">
                                <i class="fas fa-times text-danger mr-1"></i>Cross
                            </label>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="IsChecked" class="text-danger small"></span>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group mb-2">
                <div class="custom-control custom-switch">
                    <input asp-for="IsActive" type="checkbox" class="custom-control-input" id="CreateIsActive" />
                    <label class="custom-control-label font-weight-bold" for="CreateIsActive">Active Entry</label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer px-0 pb-0 pt-2">
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save mr-1"></i>Save Entry
        </button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function () {

        $("#statusTick").change(function () {
            $("#IsCheckedHidden").val("true");
        });

        $("#statusCross").change(function () {
            $("#IsCheckedHidden").val("false");
        });

        $("#ProductId").change(function () {
            var productId = $(this).val();

            $("#IPAddress").empty();
            $("#IPAddress").append('<option value="">Select IP Address</option>');

            $("#PingProductId").empty();
            $("#PingProductId").append('<option value="0">Select Server Host Name</option>');

            if (productId !== "" && productId !== "0") {
                $.get('/PingConfig/GetIPsByProduct', { productId: productId }, function (data) {
                    $.each(data, function (i, item) {
                        $("#IPAddress").append('<option value="' + item + '">' + item + '</option>');
                    });
                });
            }
        });

        $("#IPAddress").change(function () {
            var productId = $("#ProductId").val();
            var ipAddress = $(this).val();

            $("#PingProductId").empty();
            $("#PingProductId").append('<option value="0">Select Server Host Name</option>');

            if (productId !== "" && productId !== "0" && ipAddress !== "") {
                $.get('/PingConfig/GetHostsByProductAndIP', { productId: productId, ipAddress: ipAddress }, function (data) {
                    $.each(data, function (i, item) {
                        $("#PingProductId").append('<option value="' + item.pingProductId + '">' + item.serverHostName + '</option>');
                    });
                });
            }
        });

        $("#IsCheckedHidden").val("true");
    });
</script>