@model EmployeeAccessSystem.Models.SMCConfig

@{
    Layout = null;
}

<form asp-action="Edit" method="post" id="editSmcConfigForm">
    @Html.AntiForgeryToken()

    <input asp-for="SMCConfigId" type="hidden" />
    <input asp-for="EntryDate" type="hidden" />
    <input asp-for="IsChecked" type="hidden" id="IsCheckedHidden" />

    <div asp-validation-summary="ModelOnly" class="text-danger small mb-3"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ProductId" class="font-weight-bold">Product</label>
                <select asp-for="ProductId" asp-items="ViewBag.ProductList" class="form-control" id="ProductId">
                    <option value="">Choose product</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger small"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SMCProductId" class="font-weight-bold">SMC Product</label>
                <select asp-for="SMCProductId" asp-items="ViewBag.SMCProductList" class="form-control" id="SMCProductId">
                    <option value="">Choose SMC product</option>
                </select>
                <span asp-validation-for="SMCProductId" class="text-danger small"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="SMCProductItemId" class="font-weight-bold">SMC Product Item</label>
                <select asp-for="SMCProductItemId" asp-items="ViewBag.SMCProductItemList" class="form-control" id="SMCProductItemId">
                    <option value="">Choose SMC product item</option>
                </select>
                <span asp-validation-for="SMCProductItemId" class="text-danger small"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EntryMode" class="font-weight-bold">Save Option</label>
                <select asp-for="EntryMode" asp-items="ViewBag.EntryModeList" class="form-control" id="EntryMode">
                    <option value="">Choose save option</option>
                </select>
                <span asp-validation-for="EntryMode" class="text-danger small"></span>
            </div>
        </div>

        <div class="col-md-6" id="valueSection">
            <div class="form-group">
                <label id="dynamicLabel" class="font-weight-bold">Value</label>
                <input asp-for="ConfigValue" class="form-control" id="ConfigValue" placeholder="Enter value" />
                <span asp-validation-for="ConfigValue" class="text-danger small"></span>
            </div>
        </div>

        <div class="col-md-6" id="checkboxSection" style="display:none;">
            <div class="form-group">
                <label class="font-weight-bold">Status</label>

                <div class="border rounded p-3">
                    <div class="custom-control custom-radio mb-2">
                        <input type="radio" id="statusTick" name="StatusChoice" value="true" class="custom-control-input" />
                        <label class="custom-control-label" for="statusTick">
                            <i class="fas fa-check text-success mr-1"></i>Tick
                        </label>
                    </div>

                    <div class="custom-control custom-radio">
                        <input type="radio" id="statusCross" name="StatusChoice" value="false" class="custom-control-input" />
                        <label class="custom-control-label" for="statusCross">
                            <i class="fas fa-times text-danger mr-1"></i>Cross
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group mb-3">
                <div class="custom-control custom-checkbox">
                    <input asp-for="IsActive" class="custom-control-input" id="EditIsActive" />
                    <label class="custom-control-label font-weight-bold" for="EditIsActive">Active</label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer px-0 pb-0">
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
        <button type="submit" class="btn btn-warning">Update</button>
    </div>
</form>

<partial name="_ValidationScriptsPartial" />

<script>
    $(document).ready(function () {

        $("#ProductId").change(function () {
            var productId = $(this).val();

            $("#SMCProductId").html('<option value="">Choose SMC product</option>');
            $("#SMCProductItemId").html('<option value="">Choose SMC product item</option>');

            if (productId !== "") {
                $.get('/SMCConfig/GetSMCProductsByProductId', { productId: productId }, function (data) {
                    $.each(data, function (i, item) {
                        $("#SMCProductId").append('<option value="' + item.smcProductId + '">' + item.smcProductName + '</option>');
                    });
                });
            }
        });

        $("#SMCProductId").change(function () {
            var smcProductId = $(this).val();

            $("#SMCProductItemId").html('<option value="">Choose SMC product item</option>');

            if (smcProductId !== "") {
                $.get('/SMCConfig/GetSMCProductItemsBySMCProductId', { smcProductId: smcProductId }, function (data) {
                    $.each(data, function (i, item) {
                        $("#SMCProductItemId").append('<option value="' + item.smcProductItemId + '">' + item.itemName + '</option>');
                    });
                });
            }
        });

        $("#EntryMode").change(function () {
            toggleEntryMode();
        });

        $("#statusTick").change(function () {
            $("#IsCheckedHidden").val("true");
        });

        $("#statusCross").change(function () {
            $("#IsCheckedHidden").val("false");
        });

        function toggleEntryMode() {
            var mode = $("#EntryMode").val();

            if (mode === "Value") {
                $("#valueSection").show();
                $("#checkboxSection").hide();
                $("#dynamicLabel").text("Value");
                $("#IsCheckedHidden").val("false");
                $("#statusTick").prop("checked", false);
                $("#statusCross").prop("checked", false);
            }
            else if (mode === "Checkbox") {
                $("#valueSection").hide();
                $("#checkboxSection").show();
                $("#ConfigValue").val("");

                if ($("#IsCheckedHidden").val() === "true") {
                    $("#statusTick").prop("checked", true);
                    $("#statusCross").prop("checked", false);
                } else {
                    $("#statusTick").prop("checked", false);
                    $("#statusCross").prop("checked", true);
                }
            }
            else {
                $("#valueSection").hide();
                $("#checkboxSection").hide();
                $("#dynamicLabel").text("Input");
                $("#ConfigValue").val("");
                $("#IsCheckedHidden").val("false");
                $("#statusTick").prop("checked", false);
                $("#statusCross").prop("checked", false);
            }
        }

        toggleEntryMode();
    });
</script>