@model EmployeeAccessSystem.Models.PingProduct

@{
    Layout = null;
}

<form asp-action="Delete" method="post" id="deletePingProductForm">
    @Html.AntiForgeryToken()
    <input type="hidden" name="pingProductId" value="@Model.PingProductId" />

    <h5 class="text-center mb-2">
        Are you sure?
    </h5>

    <p class="text-center mb-4" style="color:#000;">
        You want to delete this Ping Product
        <span>"@Model.PingProductName"</span>
    </p>

    <div class="modal-footer justify-content-center border-0 pt-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
        </button>
        <button type="submit" class="btn btn-danger">
            Confirm
        </button>
    </div>
</form>