html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* === COMPLETELY HIDE SCROLLBAR (AdminLTE + Browser) === */
html, body,
.content-wrapper {
    overflow-y: scroll; /* allow scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE / old Edge */
}

    html::-webkit-scrollbar,
    body::-webkit-scrollbar,
    .content-wrapper::-webkit-scrollbar {
        display: none; /* Chrome, Edge */
    }
