.content-wrapper {
    padding-bottom: 0 !important;
}

.content {
    margin-bottom: 0 !important;
}

.card {
    margin-bottom: 4px !important;
}

.table td, .table th {
    padding: 4px 8px !important;
}
.main-sidebar .sidebar {
    overflow-y: auto;
    height: 100vh;
}

